.section {
    padding: 40px 0;
    text-align: center;
    background-color: white;
}

.title {
    font-size: 1.4rem;
    color: var(--color-primary-dark);
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
}

.partner {
    filter: grayscale(100%);
    opacity: 0.7;
    transition: all 0.3s;
}

.partner:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.05);
}